.map_container {
    position: relative;
    margin: 60px 10px 10px 10px;
    height:100%;
}


#map {
    height:100%;
    overflow: hidden;
    padding-bottom: 25%;
    padding-top: 20%;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.google {
    display: block;
    margin: 0 auto;
    width: 200px;
}

#or {
    text-align: center;
}

/*ball page*/

#socket {
    text-align: center;
}

input:not([type]), input[type=text] {
    text-align: center !important;
}

#main {
    height: 100%;
}

#chatHome {
    width: 80%;
    margin: 0 auto;
}

#time {
    margin-left: 75%;
    opacity: 0.6;
}

.chat-wrapper{
    word-wrap: break-word;
}

.chat {
    margin-top: 50px;
}

@media screen and (max-width: 500px) {
    #map {
        padding-bottom: 100%;
    }
    #homelink {
        display: none;
    }
}

@media screen and (min-height: 1081px){
    #map {
        padding-bottom: 100%;
    }
}

/*login page*/

#login {
    margin-top: 65px;
}
